LOGS/
DATA/
EVAL/
old_eval_scripts/
eval/superpoint_matching/
eval/output*/
logs/
tests/config1_output/
notebooks/*.png
notebooks/*.pdf
.github/
.vscode/
__pycache__
bin/*
exp/*
gt/*
data/*
.ipynb_checkpoints
*.so
*.o
*.egg-info
