setuptools
ad @ git+https://github.com/centreborelli/ad.git
ipyleaflet
ipywidgets
matplotlib
numba
numpy
opencv-contrib-python
rpcm @ git+https://github.com/centreborelli/rpcm.git@localization-origin
scipy
shapely
networkx
srtm4
requests
pyproj==3.6.1
rasterio
geojson
utm
ray
joblib
ransac
