ad
ipyleaflet
ipywidgets
matplotlib
numba
numpy
opencv-contrib-python
rpcm @ git+https://github.com/cmla/rpcm.git@localization-origin
scipy
shapely
networkx
srtm4
requests
pyproj==3.0.1
rasterio
geojson
utm
ray
joblib
ransac
